.Increment_Decrement_container{
  /* border: 2px solid rgb(247, 4, 81); */
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.Increment_Decrement_container .decrement{
  border-radius: 50%;
  border-radius: 3rem;
  padding: 0.2rem;
  font-size: 2.5rem;
  font-weight: 800;
  cursor: pointer;
}

.Increment_Decrement_container .num{
  font-size: 1.5rem;
  font-weight: 700;
}

.cart_button button{
  border: none;
  outline: none;
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #8a2be2;
  color: #fff;
  cursor: pointer;
}

@media(max-width : 455px){
  .Increment_Decrement_container{
    width: 45%;
  }
}